
@mixin skillBarWidths() {

  //    1 block == 2.4rem

  tr.js::before {
    width: calc(2.4rem * 6);
  }

  tr.html::before {
    width: calc(2.4rem * 8);
  }

  tr.css::before {
    width: calc(2.4rem * 8);
  }

  tr.jquery::before {
    width: calc(2.4rem * 5);
  }

  tr.sass::before {
    width: calc(2.4rem * 7);
  }

  tr.node::before {
    width: calc(2.4rem * 1);
  }

  tr.git::before {
    width: calc(2.4rem * 3);
  }

  tr.linux::before {
    width: calc(2.4rem * 2);
  }
}
