
//Color definitions

$primary-color: #0e0b16;       //rgb(14,11,22)    og: #222629;
$secondary-color: #e7dfdd;     //rgb(231,223,221) og: #474b4f;
$accent-color: #4717f6;        //rgb(71,23,246)   og: #ebff33;
$white: #f2f2f2;
$gray: #6b6e70;


//Screen sizes

$screen-l: 950px;
$screen-m: 750px;
$screen-s: 550px;


//Prototypes

%line {
  content: "";
  opacity: 0.1;
  width: 1px;
  height: 100%;
  position: absolute;
}
