html, body {
    max-width: 100%;
}

.big-title{
    position: absolute;
    left: 20%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @media screen and (max-width: $screen-m) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (max-width: $screen-s) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.wrapper:not(.bckgrLines) {
  @media screen and (max-width: $screen-m) {
    grid-template-columns: 1fr;
  }
}
