//TODO: Reorganize whole partial.

#hero {
  margin-bottom: 20vh;
  height: 100vh;
  top: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 3fr 1fr;

  @media screen and (max-width: $screen-m) {
    grid-template-rows: 4fr 3fr 1fr;
  }

  #contact-button{
    display: inline-block;
    padding: 14px 50px;

    @media screen and (max-width: $screen-m) {
      padding: 2.2vh 8vw;
    }
  }

  #lang {
    float: left;
    margin-left: 44px;
  }

  .row1 {
    margin-right: 2em;
    margin-top: 1.5em;

    @media screen and (max-width: $screen-m) {
      display: none;
    }

    p:nth-child(1) {
      padding-bottom: 1em;
    }
  }

  .row2 {
    @media screen and (max-width: $screen-m) {
      margin-top: 10vh;
    }
  }

  .row3 {
    position: relative;

    p {
      margin-top: 5%;
    }
  }

  .row4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: $screen-m) {
      grid-template-columns: 1fr;
    }

    .col1 {
      margin-left: 44px;

      @media screen and (max-width: $screen-m) {
        display: none;
      }
    }

    .col3 {
      width: 100%;

      @media screen and (min-width: $screen-m) {
        padding-right: 2em;

        table {
          display: inline-block;
        }
      }

      @media screen and (max-width: $screen-m) {
        padding: 0;

        table {
          margin: 0 auto;
        }
      }

      td {
        padding-left: 10px;

        @media screen and (max-width: $screen-m) {
          padding-right: 10px;
        }
      }
    }
  }

  .icon {
    width: 35px;
  }

  #scroll {
    width: 30px;

    @media screen and (max-width: $screen-m) {
      margin-bottom: 2em;
    }
  }
}
