#skills {
  margin-bottom: 60vh;
  position: relative;

  @media screen and (max-width: $screen-m) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }

  div {
    @media screen and (max-width: 450px) {
      grid-column-start: 1 !important;
      grid-column-end: 3 !important;
      width: 80vw;
      margin: 0 auto;
    }
  }

  h2 {
    grid-column-start: 4;
    grid-column-end: 7;
    margin-bottom: 1.5em;

    @media screen and (max-width: $screen-m) {
      grid-column-start: 1;
    }
  }

  .big-title {
    top: 0.1em;
  }

  div:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 3em;

    @media screen and (max-width: $screen-m) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  div:nth-child(odd) {
    grid-column-start: 5;
    grid-column-end: 7;

    @media screen and (max-width: $screen-l) {
      grid-column-start: 4;
    }

    @media screen and (max-width: $screen-m) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  p {
    padding-left: 1em;
  }

  li {
    padding: 0.5em;
    padding-left: 0;
  }
}
