#projects {
  margin-bottom: 60vh;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10vw;

  @media screen and(max-width: 1100px){
    grid-template-columns: 1fr 1fr;
  }

  .image {
    width: 85%;
    height: 200px;
    position: relative;
    left: 3%;
    top: 3%;
  }

  .img-background {
    margin-top: 6em;
    height: 220px;
    width: 90%;
  }

  .img-background::after {
    content: "live_demo";
    display: block;
    position: absolute;
    right: 0.5em;
    top: 30%;
    writing-mode: tb-rl;
    @include robotoMono(200, 14px, $white);
  }

  .project-container {
    position: relative;
    grid-column: span 1;
  }

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 3em;
  }

  h3 {
    padding-bottom: 2em;
    padding-top: 1em;
    padding-right: 35px;
  }

  p {
    margin-bottom: 8em;
    padding-right: 2em;
  }

  .readme {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
    margin-left: -75px + -26px;
    padding: 0.7em;
    width: 150px;
  }
}
