nav {
  z-index: 10;

  #navBckgrLine:hover {
    background-color: $accent-color;
  }

  #sectionName{
    @media screen and (max-width: $screen-m) {
      display: none;
    }
  }

  #navContainer {
    display: none;
    background-color: rgba($accent-color, .9);

    ul {
      display: none;
    }
  }

  #sidebar {
    @media screen and (max-width: $screen-m) {
      display: none;
    }

    &:hover {
      background-color: rgba($accent-color, .85);
      cursor: pointer;
    }
  }

  #menu-icon {
    z-index: 20;
  }
}
