#skills {

  .liLine {
    transform: rotate(90deg);
    height: 20px;
  }

  li::before {
    content: "";
    width: 0px;
    height: 1.5em;
    background-color: $accent-color;
    position: absolute;
  }
}
