npm_cheat_sheet.txt
ToDo.txt
/node_modules
/.sass-cache
/mockup
/prototype
/build/pages/project_page
build/img/svg-defs.svg
src/project_pages/
awskey.pem
build/lang-hun.json
_old_gulpfile.js
/**/*.map
