
#projects {

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 0 10vw;

  @media screen and(max-width: 1100px) {
    grid-template-columns: 1fr 1fr;

    div:nth-of-type(odd) {
      grid-column: 1 / 2;
    }

    div:nth-of-type(even) {
      grid-column: 2 / 3;
    }
  }

  .project-container {
    position: relative;
    border: 1px rgba($white, .2) solid;
    box-shadow: 3px 5px 10px rgba(black, .5);

    @media screen and(max-width: $screen-m) {
      margin-bottom: 2em;
    }
  }

  .img-background {
    width: 90%;
    height: calc(100vw / 3 - 16vw);
    margin: 1em auto;
    background-color: hsl(206,9%,16.5%);
    cursor: pointer;
    @extend %right-sweep-animation;

    @media screen and(max-width: 1100px) {
      height: calc(100vw / 2 - 25vw);
    }
    @media screen and(max-width: $screen-m) {
      height: 46vw;
    }
  }

  .img-background::after {
    content: "live_demo";
    display: block;
    position: absolute;
    right: 0.5em;
    top: 30%;
    writing-mode: tb-rl;

    @include robotoMono(200, 14px, $white);
  }

  #portfolio-anchor .img-background::after {
    content: "01_home";
  }

  #dominio-anchor .img-background {
    cursor: default;
    &::after {
      content: "in_development";
    }
  }

  .image {
    width: 85%;
    height: 90%;
    position: relative;
    left: 5%;
    top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 3px 8px rgba(black, .3);
  }

  h2 {
    grid-column: 1 / 4;
    margin-bottom: 3em;
  }

  h3 {
    padding: 1em;
    text-align: center;
  }

  p {
    padding: 1.5em;
    margin-bottom: 8em;
    text-align: center;
  }

  .projects-button-container {
    position: absolute;
    bottom: 5%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    div:first-of-type {
      justify-self: end;
    }
  }

  .button {
    height: 3em;
    width: 8em;
    line-height: 2.5em;
    border: 3px solid $accent-color;
    cursor: pointer;

    @extend %middle-out-sweep-animation;
    @extend %middle-out-circle-sweep-animation;
  }

  .button[onclick="null"]{
    border: 3px solid $gray;
    cursor: default;
    color: rgba(white, 0.2);
    &::before {
      display: none;
    }
  }

  .github-icon {
    position: absolute;
    width: 28px;
    bottom: calc(50% - 14px);
    left: 15px;
  }

  .button-text {
    display: inline-block;
    margin-left: 2em;
  }

  #sudoku {
    background-image: url("../img/sudoku.png");
  }

  #portfolio {
    background-image: url("../img/portfolio-padded-0.png");
  }

  #todolist {
    background-image: url("../img/todolist.png");
  }

  #dominio {
    background-image: url("../img/dominio.png");
  }

  .projects-nopage-modal{
    display: none;
    position: fixed;
    width: 40vw;
    height: 40vh;
    top: calc(50% - 20vh);
    left: calc(50% - 20vw);
    z-index: 10;
    background-color: $white;
    box-shadow: 2px 3px 8px rgba(black, .3);

    @media screen and(max-width: $screen-m){
      width: 80vw;
      height: 30vh;
      top: calc(50% - 15vh);
      left: calc(50% - 40vw);
    }

    .modal-close {
      width: 7%;
      position: absolute;
      right: 3%;
      top: 3%;

      & polygon{
        fill: $accent-color;
      }

      transform: rotate(45deg);
    }

    h2 {
      text-align: center;
      font-size: 20px;
      color: $primary-color;
      margin: 2em 0 0;
    }

    p {
      color: $primary-color;
      margin: 2em 0 0;
    }

    a {
      display: block;
      text-align: center;
    }
  }
}
