
.big-title {
  @include roboto(900, 24vh, white);
}

.big-title.dark {
  color: hsl(256, 25%, 10%);
}

.big-title.white {
  color: rgba(34,38,41,0.1);
}

//                   Nav

nav {

  #sectionName {
    @include robotoMono(300, 12px, $white);

    letter-spacing: 1px;
    writing-mode: tb-rl;
  }
}

//                   Hero

#hero {

  h1 {
    @include roboto(700, 3.8vw, $white);

    text-align: center;
    letter-spacing: 2px;
    white-space: pre-line;

    @media screen and(max-width: $screen-m) {
      font-size: 6vw;
    }
  }

  div, span, p {
    @include openSans(100, 1vw, $white);
    text-align: center;
    letter-spacing: 1px;

    @media screen and(max-width: $screen-m){
      font-size: 3vw;
    }
  }

  #contact-button {
    @include raleway(300, 2vw, $accent-color);
    @media screen and(max-width: $screen-m){
      font-size: 6vw;
    }
  }

  #contact-button:hover {
    color: $white;
  }
}

//                   About

#about {

  @media screen and (max-width: $screen-s) {
    text-align: center;
  }

  h2 {
    @include roboto(900, 65px, $primary-color);

    @media screen and (max-width: $screen-s) {
      font-size: 45px;
    }
  }

  h3 {
    @include roboto(900, 35px, $primary-color);
    text-align: center;

    @media screen and (max-width: $screen-s) {
      font-size: 25px;
    }
  }

  p {
    @include openSans(400, 16px, $primary-color);
    letter-spacing: 1px;
    line-height: 1.5em;
    @media screen and (max-width: $screen-s) {
      font-size: 13px;
    }
  }
}

//                   Skills

#skills {

  h2 {
    @include roboto(900, 65px, $primary-color);

    @media screen and (max-width: $screen-s) {
      font-size: 45px;
    }
  }

  h3 {
    @include roboto(900, 20px, $primary-color);
  }

  li {
    @include raleway(200, 20px, $primary-color);
  }
}

//                   Projects

#projects {

  h2 {
    @include roboto(900, 65px, $white);

    @media screen and (max-width: $screen-s) {
      font-size: 45px;
    }
  }

  h3 {
    @include roboto(900, 24px, $white);

    @media screen and (max-width: $screen-s) {
      font-size: 20px;
      text-align: center;
    }
  }

  p {
    @include openSans(400, 13px, $white);
    letter-spacing: 1px;
    line-height: 1.5em;

    @media screen and (max-width: $screen-s) {
      font-size: 13px;
      text-align: center;
    }
  }
  .button, .button-text {
    @include openSans(400, 15px, $white);
    text-align: center;
  }
}

//                   Contact

#contact {

  p {
    @include openSans(200, 16px, $primary-color);
    @media screen and (max-width: $screen-m) {
      font-size: 12px;
    }
  }

  h2 {
    @include roboto(900, 35px, $primary-color);

    @media screen and(max-width: $screen-m){
      font-size: 30px;
    }
    
    text-align: center;
  }

  input, textarea {
    @include raleway(200, 16px, $primary-color);
  }

  #submit {
    @include roboto(500, 20px, $gray);
  }
}

//                   Footer

footer {
  text-align: center;

  p, span, input {
    @include robotoMono(200, 12px, $white);
    letter-spacing: 1px;
    white-space: pre;
  }
}
