
%line {
  content: "";
  opacity: 0.1;
  width: 1px;
  height: 100%;
  position: absolute;
}

.bckgrLines {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.line::after {
  @extend %line;

  background-color: $white;
  opacity: 0.05;
}

.line.black::after {
  @extend %line;

  background-color: $primary-color;
}
