#mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vw;
  z-index: 10;
  text-align: left;
  background-color: rgba($accent-color, .9);

  @media screen and(max-width: $screen-m) {
    display: block;
  }

  @media screen and(max-width: $screen-s) {
    height: 13vw;
  }

  .hamburger {
    width: 7vw;
    margin: 2% 4%;

    &:hover {
      & path {
        fill: $primary-color;
      }
    }

    @media screen and(max-width: $screen-s) {
      width: 10vw;
      margin: 1.5% 0 0 4%;
    }
  }
}

nav {
  position: fixed;
  height: 100vh;
  z-index: 10;

  #navBckgrLine:hover {
    background-color: $accent-color;
  }

  #sectionName {
    position: absolute;
    left: 45px;
    top: 46.5%;

    @include robotoMono(300, 12px, $white);

    letter-spacing: 1px;
    writing-mode: tb-rl;

    @media screen and (max-width: $screen-m) {
      display: none;
    }
  }

  #navContainer {
    height: 100vh;
    width: 0vw;
    display: none;
    background-color: rgba($accent-color, .9);
  }

  ul {
    display: none;
    position: relative;
    top: 18%;
    left: 25%;
  }

  li {
    margin-bottom: 0.7em;
    cursor: pointer;
  }

  .subitem {
    display: none;
    position: relative;
    left: 25%;
    //cursor: pointer;
    animation: scaleIn 0.5s ease;
  }

  a {
    position: relative;
    left: 20%;
    @include roboto(500, 40px, $white);
  }

  td {
      padding-right: 1em;
  }

  #sidebar {
    position: fixed;
    height: 100vh;
    width: 45px;
    transition: background-color 0.2s ease;

    @media screen and (max-width: $screen-m) {
      display: none;
    }

    &:hover {
      background-color: rgba($accent-color, .85);
      cursor: pointer;

      //#menu-icon svg
      & rect {
        fill: white !important;
      }
    }

    .line {
      position: relative;
      left: 0;
      height: 100%;
    }

    #menu {
      float: left;
    }

    #menu-icon {
      width: 45px;
      height: 100vh;
      z-index: 20;
    }
  }

  #project-dropdown-icon {
    width: 30px;
    position: relative;
    left: 18vw;
    transition: transform .4s ease-in-out;
  }

  .nav-cross {
    position: absolute;
    width: 40px;
    bottom: 50%;
    left: 90%;
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    &:hover {
      animation: rotate-center-right 0.6s ease-in-out both;
    }
  }

  .static {
    animation: rotate-center-left 0.6s ease-in-out both;
  }

  td, li {
    @include roboto(400, 20px, $white);
    animation: scaleIn 0.2s ease;

    @keyframes scaleIn {
      0% {
        transform: scaleY(0);
      }

      100% {
        transform: scaleY(1);
      }
    }
  }
}
